/* src/index.css */
body {
  margin: 0;
  font-family: sans-serif;
  background: #fafafa;
}
h1 {
  color: #37ad16;
}

h2 {
  color: #4e2f2f;
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}